* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1102px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.header {
  border-bottom: 1px solid #676767;
}

.header__body {
  height: 72px;
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  width: 173px;
  min-width: 173px;
  height: auto;
  margin-right: 32px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__links {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__link {
  color: var(--black);
  font-size: 1.125rem;
}

.header__link:not(:last-child) {
  margin-right: 32px;
}

.main__body {
  display: flex;
  padding: 80px 0;
  gap: 80px;
}

.main__info {
  flex: 1 1 50%;
}

.main__title {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.main__text {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 24px;
}

.main__footer {
  font-size: 0.875rem;
  opacity: 0.5;
  padding-top: 24px;
  border-top: 1px solid #000;
}

.main__image {
  flex: 1 1 50%;
  position: relative;
}

.main__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.values {
  background: rgb(13, 129, 66);
  background: linear-gradient(0deg, rgb(13, 129, 66) 0%, rgb(125, 192, 66) 100%);
}

.values__body {
  padding: 80px 0;
}

.values__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.values__item {
  flex: 1 1 33.333%;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.trading__body {
  padding: 80px 0;
  display: flex;
  gap: 80px;
}

.trading__info {
  flex: 1 1 auto;
}

.trading__section:not(:last-child) {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #393939;
}

.trading__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.trading__text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.trading__text p:not(:last-child) {
  margin-bottom: 24px;
}

.trading__images {
  flex: 0 0 236px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trading__image {
  width: 100%;
}

.trading__image img {
  max-width: 100%;
  height: auto;
}

.advantages__body {
  padding: 80px 0;
}

.advantages__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.advantages__section:not(:last-child) {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #393939;
}

.advantages__intro {
  font-size: 0.875rem;
  margin-bottom: 24px;
}

.advantages__list {
  display: flex;
  gap: 32px;
}

.advantages__item {
  flex: 1 1 25%;
  padding: 32px;
  border: 1px solid #000;
}

.advantages__rating {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.advantages__rating svg {
  width: 20px;
  height: 20px;
}

.advantages__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

.platform__body {
  padding: 80px 0;
}

.platform__title {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 24px;
  background: linear-gradient(0deg, rgb(13, 129, 66) 0%, rgb(125, 192, 66) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platform__intro {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 32px;
}

.platform__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.platform__item {
  padding: 16px;
  background: #F7F7F7;
}

.platform__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.platform__desc {
  font-size: 1.125rem;
  line-height: 1.5;
}

.simple {
  background: rgb(13, 129, 66);
  background: linear-gradient(0deg, rgb(13, 129, 66) 0%, rgb(125, 192, 66) 100%);
}

.simple__body {
  font-size: 3.75rem;
  font-weight: 700;
  padding: 80px 0;
  color: var(--white);
}

.order__body {
  padding: 80px 0;
  display: flex;
  gap: 80px;
}

.order__info {
  flex: 1 1 auto;
}

.order__section:not(:last-child) {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #393939;
}

.order__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.order__text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.order__list {
  font-size: 0.875rem;
  line-height: 1.5;
}

.order__item {
  padding-left: 32px;
  position: relative;
}

.order__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--black);
}

.order__images {
  flex: 0 0 236px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order__image {
  width: 100%;
}

.order__image img {
  max-width: 100%;
  height: auto;
}

.info {
  flex: 1 1 auto;
}

.info__body {
  padding: 80px 0;
  max-width: 960px;
  margin: 0 auto;
}

.info__main-title {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.info__section:not(:last-child) {
  margin-bottom: 24px;
}

.info__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.5;
}

.info__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

.info__list {
  font-size: 1.125rem;
  line-height: 1.5;
}

.info__item {
  padding-left: 32px;
  position: relative;
}

.info__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--black);
}

.footer {
  background: var(--black);
}

.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.footer__logo {
  display: block;
  width: 173px;
  height: auto;
  margin-bottom: 32px;
}

.footer__logo img {
  max-width: 100%;
  height: auto;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
  gap: 32px;
}

.footer__link {
  font-size: 0.875rem;
  color: var(--white);
}

.footer__rights {
  font-size: 0.875rem;
  text-align: center;
  color: var(--white);
  opacity: 0.5;
  border-top: 1px solid #fff;
  padding-top: 32px;
  width: 100%;
}

@media (max-width: 1200px) {
  .main__title {
    font-size: calc(2rem + 28 * (100vw - 20rem) / 880);
  }

  .main__text {
    font-size: calc(1rem + 2 * (100vw - 20rem) / 880);
  }

  .trading__title {
    font-size: calc(1.5rem + 16 * (100vw - 20rem) / 880);
  }

  .advantages__title {
    font-size: calc(2rem + 8 * (100vw - 20rem) / 880);
  }

  .platform__title {
    font-size: calc(2rem + 28 * (100vw - 20rem) / 880);
  }

  .simple__body {
    font-size: calc(2rem + 28 * (100vw - 20rem) / 880);
  }

  .order__title {
    font-size: calc(1.5rem + 16 * (100vw - 20rem) / 880);
  }

  .info__main-title {
    font-size: calc(2rem + 28 * (100vw - 20rem) / 880);
  }
}

@media (max-width: 992px) {
  .trading__body {
    flex-direction: column;
  }

  .trading__images {
    flex-direction: row;
    margin: 0 auto;
  }

  .advantages__list {
    flex-direction: column;
  }

  .platform__list {
    grid-template-columns: 1fr;
  }

  .order__body {
    flex-direction: column;
  }

  .order__images {
    flex-direction: row;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .main__body {
    flex-direction: column;
  }

  .main__image {
    aspect-ratio: 380/450;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }

  .values__list {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .header__logo {
    margin: 0 auto;
  }

  .header__links {
    display: none;
  }

  .trading__images {
    flex-direction: column;
  }

  .order__images {
    flex-direction: column;
  }
}